

.App {
  background-color: rgb(88, 131, 211);
  height: 100vh;
}

#main-panel{
  height: 80vh;
}

#transaction-list {
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.text-white{
  color: white;
}

input {
  text-align: center;
}

select {
  text-align-last: center;
  text-align: center;
}

.transaction{
  text-align: center;
  cursor: pointer;
}


.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}