

.App {
  background-color: rgb(88, 131, 211);
  height: 100vh;
}

#main-panel{
  max-width: 600px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(66, 76, 167);
}

#transaction-list {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
}

input {
  text-align: center;
}
select {
  text-align-last: center;
}

.transaction{
  text-align: center;
  cursor: pointer;
}

.transaction:hover{
  background-color: rgb(82, 91, 167);
}